@font-face {
    font-family: Roboto Mono;
    src: url(RobotoMono-Regular.ttf);
}
*
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body
{
    width: 100% ;
    font-family: Roboto Mono;
    background-color: #20201d;
    color: #a6a28c;
}
header
{
    display: flex;
    width: 100%;
    flex-direction: row;
}
#archlogo
{
    transform:scale(0.5);
}
.left
{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30%;
    flex-direction: column;
    height: 200px;
}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
nav
{
    background-color: #a6a28c;
    width: 100%;
    height: 100px;
    color: #fefbec;
    display: inline-flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}
.nav
{
    margin-right: 5%;
    font-size: 200%;
    text-decoration:none;
    color: #fefbec;
}
a.nav:visited
{
    color: #20201d;
}
a.nav:hover
{
    color: #c392ef;
}
a.nav:active
{
    color: #CFB017;
}
main
{
    margin-top: 50px;
    display:flex;
    width: 100%;
    flex-direction:row;
}
.linki
{
    width: 50%;
}
.lorum
{
    width: 50%;
    text-overflow:none;
    margin: 5%;
    font-size: 125%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.search
{
    width: 100%;
    margin-left: 40%;
    margin-top: 5%;
}
iframe
{
    width: 100%;
}
.text
{
    padding:5%;
}
.linki2
{
    border: 5px #a6a28c solid;
    border-radius:25px;
    padding: 10px;
    font-size:150%;
    color:#fefbec;
    text-decoration:none;
    background-color: #594242;
    display:block;
    width: 50%;
    margin-left: 20%;
    text-align:center;
    margin-top: 5%;
}
footer
{
    display: inline-flex;
    flex-direction:row;
    margin-top: 5%;
    width: 100%;
    height: 100px;
    background-color: #a6a28c;
    color: #fefbec;
    align-items: center;
}
.half
{
    width: 50%;
}
#mail
{
    text-decoration:none;
    color: #fefbec;
    font-size:100%;
    border: 5px #594242 solid;
    border-radius:25px;
    background-color: #20201d;
}
.half a
{

    margin-bottom:10%;
    margin-left: 30px;
    padding: 10px;
}
a#mail:visited
{
    color: black;
}
#joanna
{
    color: #20201d;
    font-size:75%;
    text-align: right;
    margin-right: 30px;
}
a.linki2:visited
{
    color: #20201d;
}
a.linki2:hover
{
    color: #c392ef;
}
a#Youtube:active
{
    color: #de1515;
}
a#Facebook:active
{
    color: #3b5998;
}
a#gazeta:active
{
    color: #ffffff;
}
@media screen and (max-width: 1280px)
{
    /*media queries*/
    #archlogo
    {
        transform:scale(0.4);
    }
    .left
    {
        width: 50%;
    }
    .center
    {
        width: 50%;
    }
    .search
    {
        margin-left: 0px;
    }
    element
    {
        width: 100%;
    }
    /*media*/
}
@media screen and (max-width: 640px)
{
    /*------media---------*/
    header
    {
        height: 200px;
        flex-direction: column;
    }
    .left
    {
        height: 50%;
        width: 100%;
    }
    .center
    {
        height: 50%;
        align-items:center;
        width: 100%;
        margin-bottom: 10px;
    }
    nav
    {
        justify-content:center;
    }
    .nav
    {
        font-size:150%;
    }
    main
    {
        margin-top: 0px;
        flex-direction:column;
    }
    .linki
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .lorum
    {
        width: 100%;
        margin:0 5px 10px 5px;
    }
    footer
    {
        flex-direction:column;
        height: 150px;
        justify-content:center;
        display: flex;
        align-items: center;
    }
    .half
    {
        display:flex;
        align-items:center;
        justify-content:center;
        width: 100%;
        height: 50%;
    }
    #joanna
    {
        margin-right: 0;
    }
    .half a
    {
        margin-left: 0;
        margin-bottom: 0;
    }
    /*-----media----------*/
}
